header{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:40px;
}

section{
    display: flex;
    flex-direction:column;
    align-items:center;
}
section div{
    display: flex;
    margin:20px 0px;
}
section div img{
    border-radius: 50%;
}
section div div{
    width:700px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;   
    padding:0 20px;
}


@media screen and (max-width: 1060px){
    section div div{
        width:500px;
        padding: 0 0 0 20px;
    }
    
}
@media screen and (max-width: 860px){
    section div{
        flex-direction: column;
        align-items:center;
        margin:20px 0px;
    }
}
@media screen and (max-width: 630px){
    #pic-of-all{
        width:100%;
    }
    section div div{
        width:300px;
        padding: 0;
    }
}