*{
    margin:0;
    padding:0;
}

.background{
    display:flex;
   
    background-color: #340A0A;
    min-height: 100vh;
    width: 100%;
    background-image: url("https://www.bu.edu/sph/files/2019/07/070719-SPH-TW-QnAGIF.gif");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
   
}
#navg{
      background-color:#9D7269 !important;
      z-index:1;
}
footer{
      background-color:#9D7269 !important;
      padding:10px;
}

footer ul li a{
    border-radius: 3px;
    background: black;
    color: gold;
    text-decoration:none; 
    font-size: 15px;
    padding: 2px;
}
.head{
    font-size: 30px;
}
p{
    font-size: 15px;
}
.colortext{
    font-size: 20px; 
}


 .container {
    
    width: 700px !important;
    color:white;
    text-align:left;
     background-color: rgba(112, 51, 37, .6);
     margin-right:0px;
     border-radius:10px;
     opacity: 0;
     animation: opacityshow 4s forwards;
}
@keyframes opacityshow{
    from{opacity: 0;}
    to{opacity: 1;}
}
@media screen and {
    
}