* {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

form input {
    margin-top: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homepage-box-1 {
    
}