header{
    text-align: center;
}
body{
    font-family: 'Acme', sans-serif !important ;
    word-spacing:  3px !important;
    background: linear-gradient(90deg,#747272,#b6aeae,silver);
}

#nav:hover {
    background-color: red !important;
}

figure{   
    display: flex;
    flex-direction:column;
    align-items:center;
    
}
figure div{
    display: flex;
    flex-direction:column;
    
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.revealtwo{
  position: relative;
  transform: translateX(-1000px);
  opacity: 0;
  transition: 1s all ease;
  display: none;
}

.revealtwo.active{
  transform: translateX(0);
  opacity: 1;
  display: block;
}
.revealtwo img{
    width:400px !important;
}
figure div img{
    width:700px;
    margin: 20px 0px;
}
figure div p{
    width:500px;
}

section{
    display: flex;
    flex-direction:column;
}

section h1{
    text-align: center;
}
#journey-grid{
    margin: auto;
    display: flex;
    flex-direction:column;
    
}
#journey-grid div img{
    width:300px;
}
#journey-grid div p{
    padding: 20px;
}
#journey-grid div{
    display: flex;
    padding: 20px;
    width:950px;
}

@media (max-width: 1010px){
    #journey-grid div{
    width:700px;
    }
}

@media (max-width: 800px){
    #journey-grid div{
        flex-direction:column;
        width:400px;
        align-items:center;
    }
    #journey-grid{
        --webkit-justify-items: center;
        justify-items: center;
    }
}

@media (max-width: 720px){
    #journey-grid div{
        flex-direction:column;
        width:400px;
        align-items:center;
    }
    figure div img{
    width:400px;
    }
    section h1{
    padding: 0 20px;
    }
    .revealtwo img{
        width:300px !important;
    }
}
@media (max-width: 530px){
    #journey-grid div{
        flex-direction:column;
        width:300px;
        align-items:center;
        justify-content:center;
        padding: 0;
    }
    figure div img{
    width:300px;
    }
    figure div p{
        width:300px;
    }
}
