header{
    text-align: center;
}


figure{   
    display: flex;
    flex-direction:column;
    align-items:center;
    
}
figure div{
    display: flex;
    flex-direction:column;
    align-items:center;
}

figure div img{
    width:700px;
    margin: 20px 0px;
}
figure div p{
    width:500px;
}

section{
    display: grid;
}
#journey-grid{
    margin: auto;
    grid-gap: 10px;
    grid-template-rows: repeat(5,1fr);
    
}
section div div img{
    width:300px;
}
section div div p{
    padding: 20px;
}
section div div{
    display: flex;
    padding: 20px;
    width:950px;
}

@media (max-width: 1010px){
    section div div{
    width:700px;
    }
}

@media (max-width: 800px){
    section div div{
        flex-direction:column;
        width:400px;
        align-items:center;
    }
}

@media (max-width: 720px){
    section div div{
        flex-direction:column;
        width:400px;
        align-items:center;
    }
    figure div img{
    width:400px;
    }
}
@media (max-width: 530px){
    section div div{
        flex-direction:column;
        width:300px;
        align-items:center;
        justify-content:center;
        padding: 0;
    }
    figure div img{
    width:300px;
    }
    figure div p{
    width:300px;
}
}