nav {
    background-color: grey;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li {
    margin: 0 20px;
}
nav ul li a{
    color: black;
    text-decoration:none; 
    font-size: 15px;
}
nav ul li a:hover{
    font-size:18px;
}
@media (max-width:500px){
    nav ul{
        flex-direction:column;
        align-items: center;
        margin-top: 10px;
    } 
    
}
@media (max-width:700px){
    nav{
        flex-direction:column;
        align-items: center;
    }

}