* {
    margin: 0;
    padding: 0;
}

body nav {
    position: sticky !important;
    top: 0;
    font-family: 'Oswald', sans-serif;
}

#navbarNavDropdown{
    width:100px;
    justify-content: flex-end;
}