* {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif !important ;
    word-spacing:  3px !important;
}

body nav {
    position: sticky !important;
    top: 0;
    font-family: 'Oswald', sans-serif;
}
.navbar{
    z-index: 20 !important;
    background-color: #9D7269 !important;
    color:white;
}
#navbarNavDropdown{
    width:100px;
    justify-content: flex-end;
}