nav {
    background-color: grey;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li {
    margin: 0 20px;
}