@media screen and (max-width:700px) {
    .img1 {
        width: 600px;
        height: 250px;
    }
}

@media screen and (max-width:700px) {
    .box{
       display:flex;
       flex-direction:column;
    }
}

@media screen and (max-width:700px){
    .stories{
        width: 100%;
        height: 750px; 
    } 
}
@media screen and (max-width:700px){
    .table{
        display: flex;
        margin-top: 550px;
    }
    
}
        
