.heading {
    text-align: center;
}

.heading-image {
    width: 250px;
    margin: 0 0 40px;
    border: 5px solid black;
    position: relative;
    bottom: 5px;
}

div section a {
    color: gold;
    text-decoration: none;
}

h2 {
    color: black;
    background-color: white;
    width: 600px;
    margin: 50px auto 0 !important;
    border: 5px solid black;
    
}

body {
    background-image: url(https://media.istockphoto.com/photos/manhattan-bridge-nyc-picture-id624265498?k=20&m=624265498&s=612x612&w=0&h=mtr1mY83fgpgpWTRgEBJI8DxrmATfuQbh9VMDCiFzJM=);
    background-size: contain;
}

.Dbox {
    display: flex;
    padding: 50px;
    width: 90%;
    margin: 0 auto 50px;
    position: relative;
    opacity: 0.95;
}

.Dbox:hover {
    animation: example 0.2s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {box-shadow: 0px 0px;
        color: #B31942;
        bottom: 0;
        right: 0;
    }
    to {box-shadow: 10px 15px;
        color: black;
        bottom: 10px;
        right: 10px;
        
    }
}

div p {
    padding: 18px;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 0;
    background-color: white;
}

.Dbox p {
    background-color: #0A3161 !important;
    color: white;
}

img {
    width: 500px;
}

form {
    color: white;
    background-color: #0A3161 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form label {
    margin-bottom: 10px;
}

form input[value="DONATE"] {
    background-color: gold;
    border: none;
    border-radius: 3px;
    padding: 4px;
}

.first-org, .second-org, .third-org {
    background-color: #B31942;
}

form {
    background-color: white;
    margin-left: 20px;
}

@media (max-width: 1200px) {
    h2 {
        width: 80%;
    }
    
    div {
        flex-direction: column;
        align-items: center;
    }
    
    div p {
        margin-left: 0;
    }
    
    form {
        margin: 0;
    }
    
    img {
        width: 90%;
        margin: 10px;
    }
}