* {
    box-sizing: border-box;
}
/* nav section */

header {
    align-content: center;
}

body{
    background-color: #5A5D60;
}
#nav{
    background-color:#340A0A !important;
    color:white;
}
footer{
    background-color: #250707;
}
.img1 {
    height: 420px;
    width: 100%;
    
}

.side {
    margin: -220px 0px 150px 100px;
}

.video {
    margin-left: 900px;
}

.stories {
    color:white;
    background: rgb(26,84,120);
background: linear-gradient(90deg, rgba(26,84,120,1) 0%, rgba(0,0,0,1) 36%, rgba(87,16,16,1) 86%);
    width: 450px;
    height: auto;
    padding: 20px;
    font-family: cursive;
}

.videoGalley {
    background-color: white;
    text-align: center;
    width:100%;
    margin:0 auto;
    /* position: relative; */
    /* bottom: 1300px; */
    
}

.heading {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
    border: 1px solid black;
     box-shadow: 0 .5rem 1rem;
     background-color: #E8F0F5;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.video-container .video {

    height: 10em;
    width: 15em;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem;
    margin-top: 20px;

}

.video-container iframe {
    display: flex;
    flex-direction: row;
    height: 15em;
    width: 25em;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem;

}

.box {
    display: flex;
}
.table{
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: center;

}
/* .push {
    text-align: left;
    margin-top: -200px;
    
}*/
.img2{
    width: 700px;
    
}
#holder{
    margin-right:40px;
}
.revealtwo{
  position: relative;
  transform: translateX(-1000px);
  opacity: 0;
  transition: 1s all ease;
  display: none;
}

.revealtwo.active{
  transform: translateX(0);
  opacity: 1;
  display: block;
}