body{
    background: linear-gradient(90deg,#4374b0,#4374b0,#658ebf,#658ebf,#86acd9,#86acd9,#658ebf,#658ebf);
    animation:backgroundcolor 2s infinite LINEAR;
}
@keyframes backgroundcolor{
    0%{background: linear-gradient(90deg,#4374b0,#4374b0,#658ebf,#658ebf,#86acd9,#86acd9,#658ebf,#658ebf);}
    12.5%{background: linear-gradient(90deg,#4374b0,#658ebf,#658ebf,#86acd9,#86acd9,#658ebf,#658ebf, #4374b0);}
    25%{background: linear-gradient(90deg,#658ebf,#658ebf,#86acd9,#86acd9,#658ebf,#658ebf, #4374b0,#4374b0);}
    37.5%{background: linear-gradient(90deg,#658ebf,#86acd9,#86acd9,#658ebf,#658ebf,#4374b0,#4374b0,#658ebf);}
    50%{background: linear-gradient(90deg,#86acd9,#86acd9,#658ebf,#658ebf,#4374b0,#4374b0,#658ebf,#658ebf);}
    62.5%{background: linear-gradient(90deg,#86acd9,#658ebf,#658ebf,#4374b0,#4374b0,#658ebf,#658ebf,#86acd9);}
    75%{background: linear-gradient(90deg,#658ebf,#658ebf,#4374b0,#4374b0,#658ebf,#658ebf,#86acd9,#86acd9);}
    87.5%{background: linear-gradient(90deg,#658ebf,#4374b0,#4374b0,#658ebf,#658ebf,#86acd9,#86acd9,#658ebf);}
    100%{background: linear-gradient(90deg,#4374b0,#4374b0,#658ebf,#658ebf,#86acd9,#86acd9,#658ebf,#658ebf);}

}
.navbar{
    z-index: 20;
}
header{
    background-image: url(https://foreignpolicy.com/wp-content/uploads/2016/12/gettyimages-75710241.jpg?w=800&h=383&quality=90);
    background-size:cover,contain;
    background-position: 0% 100%;
    height: 400px;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    color:white;
}
header h1{
    background-color: rgba(56, 56, 56,.8);
    padding: 5px;
}
section{
    display: flex;
    flex-direction:column;
    align-items:center;
}
#section-one{
    margin:20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:20px;
}
#video{
    display: flex;
    justify-content:center;
    align-items:center;
}
section div{
    display: flex;
    margin:40px 0;
    background-color:#7aadff;
    padding: 20px;
    border-radius: 20px;
}
section div p{
    padding: 20px;
    width:400px;
}
section div img{
    width: 400px;
}
.revealtwo{
  position: relative;
  transform: translateX(-1000px);
  opacity: 0;
  transition: 1s all ease;
  
}

.revealtwo.active{
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 850px){
    section div{
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
}
@media (max-width: 500px){
    section div{
        width:350px;
    }
    section div img{
        width:100%;
    }
    section div p{
        width:100%;
    }
}